# Local Node.js ONNX inference service for NutriLens
AI_NODE_PORT=8788
AI_NODE_HOST=127.0.0.1
AI_NODE_MODEL_PATH=./models/st_efficientnetlcv1_224_tfs_qdq_int8.onnx
AI_NODE_LABELS_PATH=./data/food101-labels.json
AI_NODE_NUTRITION_PATH=./data/nutrition-db.json
AI_NODE_MODEL_KIND=stmicro_effnet_int8_food101
AI_NODE_MODEL_URL=https://github.com/STMicroelectronics/stm32ai-modelzoo/raw/refs/heads/main/image_classification/efficientnet/ST_pretrainedmodel_public_dataset/food101/st_efficientnetlcv1_224_tfs/st_efficientnetlcv1_224_tfs_qdq_int8.onnx
AI_NODE_TOP_K=5
